<%- include ../layouts/cabecera.ejs %>

<main>

  <div class="container-md">

  <div class="card">
    <div class="card-header">Plantilla y Dataset</div>
  
    <div class="card-body">
      <h3>Dataset</h3>
    <p>El
    siguiente dataset será el mismo en todos los ejemplos de
    clasificación lo cual será más sencillo al final saber que modelo
    se adapta mejor a nuestros datos y cual predice mucho mejor con ayuda
    de la matriz de confusión.</p>
    <p><img src="/images/11_Clasificacion/image001.png" name="Imagen 10" align="bottom" width="480" height="433" border="0"/>
    </p>
    <p>Descripción:
    Datos de publicidad de una red social. Vemos el genero de una
    persona, la edad, el salario y si la persona compro (1) o no compro
    (0) un producto que se ofertaba en la red social.</p>
    <p>Objetivo:
    Una empresa quiere saber si le conviene publicar su producto en dicha
    red social.</p>

    </div>
    <div class="card-body">
      <h3>Codigo en Python</h3>
      <pre class="code"><code><%= Clasificacion_Plantilla_Py %></code></pre>
      <h3>Codigo en R</h3>
      <pre class="code"><code><%= Clasificacion_Plantilla_R %></code></pre>
    </div>
    <div class="card-footer text-center">
      <iframe src="https://drive.google.com/file/d/10PBQFWSt_ZfARr11H3TVr47bOj4pY4CH/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Regresion Logística</div>
  
    <div class="card-body">
      <p>
        <!-- Explicacion -->
      </p>
    </div>
    <div class="card-body">
      <h3>Codigo en Python</h3>
      <pre class="code"><code><%= Clasificacion_RLog_Py %></code></pre>
      <h3>Codigo en R</h3>
      <pre class="code"><code><%= Clasificacion_RLog_R %></code></pre>
    </div>
    <div class="card-footer text-center">
      <iframe src="https://drive.google.com/file/d/1mFtnX2FavWw4f4Qk6j3JgZk0Hcmlfbx-/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>


    <div class="card">
      <div class="card-header">KNN</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_KNN_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_KNN_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1rFotFbC76tZvVY7EazDxbnWQpIswM2kV/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>


    <div class="card">
      <div class="card-header">Máquinas de Soporte Vectorial</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_SVM_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_SVM_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1DXL9dpdCbFEdkXxQcqe1AK7GockUHS6u/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Kernel SVM</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_KernelSVM_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_KernelSVM_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1ECS5djzTKcwfmV9pJyIn105e459t_t-i/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>


    <div class="card">
      <div class="card-header">Naive Bayes</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_Naive_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_Naive_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1R4ftTtMK0kMCMfrebkOn08kzX1j1n1UV/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Arboles de Decisión</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_Arboles_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_Arboles_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <!-- insertar link embebido -->
      </div>
    </div>


    <div class="card">
      <div class="card-header">Bosques Aleatorios</div>
    
      <div class="card-body">
        <p>
          <!-- Explicacion -->
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Clasificacion_Bosques_Py %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Clasificacion_Bosques_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <!-- insertar link embebido -->
      </div>
    </div>
  </div>
  
</main>


<%- include ../layouts/pie.ejs %>