<%- include ../layouts/cabecera.ejs %>

<main>
  <div class="container-md">

    <div class="card">
      <div class="card-header">Regresion Lineal</div>
      <div class="card-body">
        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image001.png"
            name="Imagen 1060857300"
            align="bottom"
            width="199"
            height="480"
            border="0"
          />
        </p>
        <p>
          Descripción: contiene información de algunos empleados como lo son los
          años de experiencia y el salario.
        </p>
        <p>
          Objetivo: Predecir el salario que pueda ganar un empleado ingresando
          los años de experiencia
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_Lineal_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_Lineal_R %></code></pre>
        </div>
      <div class="card-footer text-center">
        <iframe
          src="https://drive.google.com/file/d/1M9J66T6xY_adoyADsqURqAeA89Di_BVr/preview"
          width="640"
          height="480"
          allow="autoplay"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Regresion Lineal Multiple</div>

      <div class="card-body">
        <p>
          Debemos de recordar que no todas las variables son útiles ya que
          algunas pueden hacer lo mismo y entre menos variables mejor.
        </p>
        <p>
          No por agregar más variables tendremos más información ni mejor
          predicción, esto se hace más pesado y complicado de entender
        </p>
        <p>Métodos para construir modelos:</p>
        <ul>
          <li>
            <p>Exhaustivo (All-In)</p>
          </li>

          <li>
            <p>Eliminación hacia atrás</p>
          </li>

          <li>
            <p>Selección hacia adelante</p>
          </li>

          <li>
            <p>Eliminación Bidireccional</p>
          </li>

          <li>
            <p>Comparación de scores</p>
          </li>
        </ul>

        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image006.png"
            name="Imagen 1672638227"
            align="bottom"
            width="480"
            height="281"
            border="0"
          />
        </p>
        <p>
          Descripción: Contiene información de 50 empresas con variables de
          gastos de dos áreas en la empresa y la ubicación geográfica, en la
          imagen solo se muestran las primeras 20. Esta tabla es de una empresa
          que se dedica a realizar préstamos a dichas empresas.
        </p>
        <p>
          Objetivo: La empresa quiere saber que beneficios obtiene del préstamo
          en base a sus gastos y la ubicación de la empresa.
        </p>
        <h3>Python</h3>
        <h4>Importación del dataset</h4>
        <p>
          Importamos los módulos necesarios y las sentencias para la lectura de
          datos, tomando las variables independientes y dependientes.
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_Multiple_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_Multiple_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <!-- insertar link embebido -->
      </div>
    </div>

    <div class="card">
      <div class="card-header">Regresion Polinomial</div>

      <div class="card-body">
        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image029.png"
            name="Imagen 2078202025"
            align="bottom"
            width="359"
            height="338"
            border="0"
          />
        </p>
        <p>
          Descripción: se tienen registrado 10 posiciones salariales, empezando
          desde el puesto más bajo hasta el más alto, en un nivel con sus
          respectivos salarios. Se observa que el aumento del salario es
          evidente.
        </p>
        <p>
          Objetivo: predecir un sueldo objetivo en base a los niveles de la
          posición.
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_Polinomica_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_Polinomica_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/13CVP804_hjybzk1KBfTYfAc4vV8Qaou_/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Maquina de Soporte Vectorial</div>

      <div class="card-body">
        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image041.png"
            name="Imagen 728687875"
            align="bottom"
            width="359"
            height="338"
            border="0"
          />
        </p>
        <p>
          Descripción: se tienen registrado 10 posiciones salariales, empezando
          desde el puesto más bajo hasta el más alto, en un nivel con sus
          respectivos salarios. Se observa que el aumento del salario es
          evidente.
        </p>
        <p>
          Objetivo: predecir un sueldo objetivo en base a los niveles de la
          posición.
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_SVM_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_SVM_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1cm_926gC-CiQclpKaLyWahgKaqoelTC7/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Arboles de decisión</div>

      <div class="card-body">
        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image029.png"
            name="Imagen 1166232448"
            align="bottom"
            width="359"
            height="338"
            border="0"
          />
        </p>
        <p>
          Descripción: se tienen registrado 10 posiciones salariales, empezando
          desde el puesto más bajo hasta el mas alto, el un nivel con sus
          respectivos salarios. Se observa que el aumento del salario es
          evidente.
        </p>
        <p>
          Objetivo: predecir un sueldo objetivo en base a los niveles de la
          posición.
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_Arboles_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_Arboles_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1wsM9gmuI3wO7NN-fv3-2sOlQkjDwQA9c/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Bosques Aleatorios</div>

      <div class="card-body">
        <h3>Dataset</h3>
        <p>
          <img
            src="/images/13_Regresion/image029.png"
            name="Imagen 1509962432"
            align="bottom"
            width="359"
            height="338"
            border="0"
          />
        </p>
        <p>
          Descripción: se tienen registrado 10 posiciones salariales, empezando
          desde el puesto mas bajo hasta el mas alto, el un nivel con sus
          respectivos salarios. Se observa que el aumento del salario es
          evidente
        </p>
      </div>
      <div class="card-body">
        <h3>Codigo en Python</h3>
        <pre class="code"><code><%= Regresion_Bosques_Python %></code></pre>
        <h3>Codigo en R</h3>
        <pre class="code"><code><%= Regresion_Bosques_R %></code></pre>
      </div>
      <div class="card-footer text-center">
        <iframe src="https://drive.google.com/file/d/1T3R2eNn7x6Mp3d80dILXZmawlwX2Jxup/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</main>

<%- include ../layouts/pie.ejs %>
